/* MENU DESPLEGABLE */
@keyframes animacion-iconos{
	0%{
    background-image: url('../../../images/sprite_btn_contacto_web_01.webp');
    transform: rotateZ(0deg) scale(1);
  }
  5%{
    transform: rotateZ(0deg) scale(1.1);
  }
  10%{
    transform: rotateZ(0deg) scale(1);
  }
  40%{
    background-image: url('../../../images/sprite_btn_contacto_web_01.webp');
    transform: rotateZ(0deg) scale(1);
  }
  45%{
    background-image: url('../../../images/sprite_btn_contacto_web_02.webp');
    transform: rotateZ(360deg) scale(0);
  }
  50%{
    background-image: url('../../../images/sprite_btn_contacto_web_02.webp');
    transform: rotateZ(0deg) scale(1);
  }
  55%{
    background-image: url('../../../images/sprite_btn_contacto_web_02.webp');
    transform: rotateZ(0deg) scale(1.1);
  }
  60%{
    transform: rotateZ(0deg) scale(1);
  }
  90%{
    background-image: url('../../../images/sprite_btn_contacto_web_02.webp');
    transform: rotateZ(0deg) scale(1);
  }
  95%{
    background-image: url('../../../images/sprite_btn_contacto_web_01.webp');
    transform: rotateZ(360deg) scale(0);
  }
  100%{
    background-image: url('../../../images/sprite_btn_contacto_web_01.webp');
    transform: rotateZ(0deg) scale(1);
  }
}

.btn_contacto{
  position: fixed;
  right: 0px;
  top: 630px;
  background: url('../../../images/boton-contacto-rapido-whatsapp-psicoalianza.webp');
  background-size: 113px 112px;
  background-position: right center;
  background-repeat: no-repeat;
  height: 113px;
  width: 112px;
  z-index: 1000;
  &__relative{
    position: relative;
    height: 113px;
    width: 112px;
  }
  
  &__absolute{
    position: absolute;
    left: 29px;
    top: 34px;
    width: 50px;
    height: 50px;
    background-size: 50px 50px;
    background-position: center center;
    background-repeat: no-repeat;
    background-repeat: repeat-x, no-repeat;
    animation-name: animacion-iconos;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    /* animation-timing-function: steps(2); */
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    z-index: 101;
    @media screen and (max-width: $window-size-01) {
      left: 19px;
      top: 22px;
    }
  }
  @media screen and (max-width: $window-size-01) {
    background-size: 91px 90px;
    height: 90px;
    width: 91px;
    top: 550px;
  }
  @media screen and (max-width: 1400px) {
    top: 480px;
  }
  @media screen and (max-width: $window-size-02) {
    top: 510px;
  }
}

.contacto-agil-psa-fixed{
  position: fixed;
  right: 15px;
  top: 500px;
  width: 340px;
  z-index: 1100;
  @media screen and (max-width: $window-size-01) {
    top: 500px;
  }
  @media screen and (max-width: 1400px) {
    top: 300px;
  }
  @media screen and (max-width: $window-size-02) {
    top: 340px;
  }
}

.contacto-agil-psa-fixed .card{
  position: relative;
}
.contacto-agil-psa-fixed .card.card-body{
  padding: 3rem 1.5rem 0rem 1.5rem;
  box-shadow: 0px 5px 10px rgba(0,0,0,.2);
  .close-collpase-contacto-agil-web{
    position: absolute;
    right: 15px;
    top: 5px;
    span{
      .contacto-agil-web.icon-menu-mobile-close::before{
        // color: $color-home-01;
        color: $gris02;
        font-weight: bold;
        font-size: 1.5rem;
      }
    }
  }
  h4:nth-child(2){
    color: $color-home-01;
    font-family: $Lato-Black;
    font-size: $tx-size-05;
    padding: 0rem 0rem 1rem 0rem;
    border-bottom: 1px solid $gris-home-01;
    text-align: center;
  }
  a:nth-child(3){
    color: $negro-home;
    font-family: $Lato-Regular;
    font-size: $tx-size-06 + .2;
    padding: 2rem 1rem 2rem 1rem;
    margin: 0rem 1rem 0rem 1rem;
    border-bottom: 1px solid $color-home-01;
    display: flex;
    &:focus{
      text-decoration: none;
      color: $color-home-01;
    }
    &:hover{
      text-decoration: none;
      color: $color-home-01;
    }
    span{
      margin: 1rem 1rem 0rem 0rem;
      .contacto-agil-web.icon-whatsapp::before{
        color: $color-home-01;
        font-size: 2rem;
      }
    }
  }
  a:nth-child(4){
    color: $negro-home;
    font-family: $Lato-Regular;
    font-size: $tx-size-06 + .2;
    padding: 2rem 1rem 2rem 1rem;
    margin: 0rem 1rem 0rem 1rem;
    display: flex;
    &:focus{
      text-decoration: none;
      color: $color-home-01;
    }
    &:hover{
      text-decoration: none;
      color: $color-home-01;
    }
    span{
      margin: 1rem 1rem 0rem 0rem;
      .contacto-agil-web.icon-personal-information::before{
        color: $color-home-01;
        font-size: 2rem;
      }
    }
  }
}

