/*SECTION 03 WEB*/
.section-home-03{
  background: url('../images/background-evaluacion-organizacional-home-psicoalianza.webp');
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center top;
  padding: 10rem 0rem 7rem 0rem;
}

.content-section-home-03-01{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 640px;
  @media screen and (max-width: $window-size-02) {
    height: 540px;
  }
  h3:nth-child(1){
    color: $color08;
    font-family: $Lato-Black;
    font-size: $tx-size-03;
    text-transform: uppercase;
    margin: 0rem 0rem 4rem 0rem;
    @media screen and (max-width: $window-size-01) {
      font-size: $tx-size-04;
      margin: 0rem 0rem 2rem 0rem;
    }
  }
  h4:nth-child(2){
    color: $color08;
    font-family: $Lato-Regular;
    font-size: $tx-size-04;
    margin: 0rem 0rem 0rem 0rem;
    span{
      font-family: $Lato-Bold;
    }
    @media screen and (max-width: $window-size-01) {
      font-size: $tx-size-05;
      margin: 0rem 0rem 0rem 0rem;
    }
  }
  p:nth-child(3){
    color: $color08;
    font-family: $Lato-Bold;
    font-size: $tx-size-05;
    line-height: 1.5;
    margin: 0rem 0rem 4rem 0rem;
    @media screen and (max-width: $window-size-01) {
      font-size: $tx-size-06;
      margin: 0rem 0rem 2rem 0rem;
    }
  }
  p:nth-child(4){
    color: $negro;
    font-family: $Lato-Regular;
    font-size: $tx-size-05;
    line-height: 1.5;
    margin: 0rem 0rem 5rem 0rem;
    span{
      font-family: $Lato-Bold;
    }
    @media screen and (max-width: $window-size-01) {
      font-size: $tx-size-06;
      margin: 0rem 0rem 3rem 0rem;
    }
  }
  p:nth-child(5){
    display: flex;
    color: $negro;
    font-family: $Lato-Regular;
    font-size: $tx-size-05;
    line-height: 1.5;
    margin: 0rem 0rem 1rem 0rem;
    span{
      margin:0rem 1rem 0rem 1rem;
      .global-home-web.icon-check::before{
        color: $color09;
        font-weight: bold;
      }
    }
    @media screen and (max-width: $window-size-01) {
      font-size: $tx-size-06;
      margin: 0rem 0rem .5rem 0rem;
    }
  }
  p:nth-child(6){
    display: flex;
    color: $negro;
    font-family: $Lato-Regular;
    font-size: $tx-size-05;
    line-height: 1.5;
    margin: 0rem 0rem 1rem 0rem;
    span{
      margin:0rem 1rem 0rem 1rem;
      .global-home-web.icon-check::before{
        color: $color09;
        font-weight: bold;
      }
    }
    @media screen and (max-width: $window-size-01) {
      font-size: $tx-size-06;
      margin: 0rem 0rem .5rem 0rem;
    }
  }
  p:nth-child(7){
    display: flex;
    color: $negro;
    font-family: $Lato-Regular;
    font-size: $tx-size-05;
    line-height: 1.5;
    margin: 0rem 0rem 7rem 0rem;
    span{
      margin:0rem 1rem 0rem 1rem;
      .global-home-web.icon-check::before{
        color: $color09;
        font-weight: bold;
      }
    }
    @media screen and (max-width: $window-size-01) {
      font-size: $tx-size-06;
      margin: 0rem 0rem 5rem 0rem;
    }
  }
}

.content-section-home-03-02{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 640px;
  @media screen and (max-width: $window-size-02) {
    height: 540px;
  }
}
